* {
  font-family: "Open Sans", sans-serif;
}

.intro-section {
  background-color: var(--Intro-and-email-background);
  background-image: url("../../../public/imagens/bg-curvy-desktop.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%; 
  height: auto;
  padding-top: 2rem; 
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  z-index: 1;
}

.img-intro {
  width: 70%;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-intro > img {
  margin: 0 auto;
  width: 70%;
  height: 90%;
}

article {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.titulo-intro {
  color: var(--White);
  text-align: center;
  max-width: 700px;
  line-height: 2.3rem;
}

.span-intro {
  margin: auto 0;
  text-align: center;
  color: var(--White);
  font-size: 1rem;
  text-align: center;
  line-height: 1.6rem;
  max-width: 500px;
}

@media (max-width: 992px) {

  article{
    width: 80%;
    align-self: center;
  }
}

@media (max-width: 575px) {

  .intro-section {
  background-color: var(--Intro-and-email-background);
  background-image: url("../../../public/imagens/bg-curvy-mobile.svg");
  }
    
    article{
      width: 95%;
    }

  .img-intro {
    width: 100%;
  }
}
