.card-benefit{
    margin-top: 2rem;
    width: 40%;
    height: 250px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
}

.card-benefit>figure{
    width: 4.7rem;
    height: 4.3rem;
}

figure>.card-icon{
    width: 100%;
    height: 100%;
}

.card-titulo{
    color: var(--White);
    text-align: center;
    line-height: 2rem;
    
}

.card-span{
    color: var(--White);
    text-align: center;
    width: 70%;
    min-width: 319px;
}

@media (max-width: 768px) {
 
.card-benefit{
    margin-top: 0;
    width: 100%;
 }

 .card-span{
    max-width: 250px;
 }
}