.stay-productive {
  width: 85%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.stay-productive-illustration {
  width: 50%;
  height: 100%;
}

.illustration {
  width: 85%;
  height: 85%;
}

.stay-productive-texts {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-title {
  color: var(--White);
  text-align: left;
  width: 100%;
  }

.text-span {
  color: var(--White);
  text-align: left;
  line-height: 1.5rem;
}

.how-works-link {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.how-works-link > a {
  color: var(--Cyan);
  border-bottom: var(--Cyan) 2px solid;
  transition: 2ms ease-in-out;
}

.how-works-link > a:hover {
    color: var(--White);
    border-bottom: var(--White) 2px solid
}

@media (max-width: 992px) {
  .stay-productive {
    width: 90%;
    flex-direction: column;
    align-items: center;
  }

  .stay-productive-illustration {
    width: 85%;
    height: 60%;
  }

  .stay-productive-texts {
    width: 85%;
  }

}

@media (max-width: 575px) {
    .text-title{
        font-size: 1.7rem;
    }
 }
