.btn{
    width: 100%;
    height: 53px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.botao-principal{
    border-radius: 2.5rem;
    width: 25%;
    height: 100%;
    min-width: 190px;
    max-height: 53px;
    background-image: linear-gradient(to right,var(--Cyan),var(--Blue));
    font-weight: 700;
    font-size: 1rem;
    color: var(--White);
    cursor: pointer;
    transition:3ms ease-in-out;
}

.botao-principal:hover{
    /* opacity: 75%; */
    background-image: linear-gradient(to left,var(--Cyan),var(--Blue));
}