.header{
    background-color:var(--Intro-and-email-background);
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.container{
    width: 90%;
    height: 75%;
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.nav-links{
    width: 23%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.link{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: var(--White);
    transition: 3ms ease-in;
}

.link:hover{
    text-decoration: underline;
    font-weight: 700;
}

@media (max-width: 992px) {
.nav-links{
    width: 40%;
    justify-content: space-around;
}
}

@media (max-width: 575px) {

.header{
    height: 100px;
}

.logo{
    width: 30%;    
}

.logo>img{
    width: 100%;
    contain: content;
}
.nav-links{
    width: 50%;
} 

.link{
    font-size: 0.8rem;
}
}

